{% extends "layout.html" %}
{% block content %}
<div class="row">
	{% for champion in db.get_unowned_champion() %}
	<div class="card" style="width: 150px; margin: 5px">
		<img src="{{ champion['thumbnail'] }}" class="card-img-top, champion-thumbnail" alt="...">
		<div class="card-body">
			<h5 class="card-title" style="height: 50%">{{ champion['name'] }}</h5>
			{% if not db.current_user() == None %}
				<button type="button" href="" class="btn btn-primary">Add</a>
			{% else %}
				<button type="button" href="{{ url_for('login') }}" class="btn btn-primary">Add</a>
			{% endif %}
		</div>
	</div>	
	{% endfor %}
</div>
{% endblock content %}


